# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/
*.code-workspace

# Home Assistant
*.log
*.db
*.db-shm
*.db-wal

# OS junk
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# HACS cache
.hacs/
